﻿@using Test_It_trends1.Models
@model List<Author>
@{
    ViewData["Title"] = "Authors page";
}

<table class="table">
    <thead>
        <tr>
            <td colspan="3">
                <a asp-controller="Authors" asp-action="Create">Add new author</a>
            </td>
        </tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.Name</td>
                <td>
                    <a asp-asp-controller="Authors" asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>