@{
    ViewData["Title"] = "Сайт новостей";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт новостей</h1>
    <p>Для навигации используйте кнопки на панели вверху</p>
</div>
